*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000080;
    color: #B0C4DE;
}

.cabecalho {
    background-color: #000040;
    height: 5rem;
}

.cabecalho-barra {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 0.5rem;
    height: 100%;
}

.cabecalho-titulo {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
}

.cabecalho-menu {
    align-self: center;
}

.cabecalho-link {
    color: #FF9900;
    text-decoration: none;
    padding-left: 0.8rem;
}

.cabecalho-link:hover {
    color: #FFFF00;
}

.principal-conteudo {
    /* border: 1px solid lime; */

    width: 80%;
    min-height: calc(100vh - 5rem);
    margin: 0 auto; /* centraliza essa área */
    padding: 0.5rem;
    background-color: #000060;
}

.principal-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF9900;
    padding-bottom: 0.75rem; /* espaçamento inferior */
}

.principal-texto {
    padding-bottom: 0.75rem;
    clear: both;
}

.principal-linha {
    border: 1px dashed #0000FF;
}

.principal-subtitulo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFAA00;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.principal-marcadores {
    list-style: square; /* estilo quadrado */
    /* para círculo vazado: circle, para círculo cheio: disc */
    /* para nenhum: none */
}

.principal-numeracao {
    list-style: decimal-leading-zero;
}

.principal-caixa {
    display: block;

    border: 1px solid magenta;
}

.principal-imagem {
    width: 576px; /* Largura da imagem */
    height: 324px; /* Altura da imagem */
    float: left; /* Imagem a esquerda, texto a direita */
}

.rodape {
    /* border: 1px solid red; */

    height: 5rem;
    background-color: #000040;
}

.rodape-conteudo {
    /* border: 1px solid yellow; */

    width: 80%;
    height: 100%;
    margin: 0 auto; /* centralizar */
    display: flex;
    justify-content: space-between;
}

.rodape-info {
    /* border: 1px solid lime; */
    align-self: center;
}

.rodape-redes {
    /* border: 1px solid cyan; */
    align-self: center;
}

.rodape-icone {
    width: 2.5rem;
    height: 2.5rem;
}

.rodape-icone:hover {
    background-color: #000000;
    border-radius: 100%;
}